/* Responsive */
@media (min-width: 800px) {
  .hamburger {
    display: none;
  }
  .menu {
    display: flex;
    flex-direction: row;
    position: static;
    background: none;
    justify-content: flex-end;
  }
  .menu a {
    margin: 0 1rem;
    font-size: 1.25rem;
    color: #fff;
  }
}

@media (min-width: 900px) {
  .container-img-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 15px;
  }

  #imagecontainer {
    display: contents; /* Allows its children to adopt grid layout directly */
  }

  .img_wrap {
    margin: 0; /* Removes margin to align with grid gap */
  }
}

@media (min-width: 1000px) {
  section {
    padding-left: 200px;
    padding-right: 200px;
  }
  .grid-box {
    padding-left: 200px;
    padding-right: 200px;
  }
}
@media (max-width: 1000px) {
  section {
    padding-left: 40px;
    padding-right: 40px;
  }
  .grid-box {
    padding-left: 40px;
    padding-right: 40px;
  }
  .hero {
    padding-left: 200px;
    padding-right: 200px;
  }
}
@media (max-width: 1000px) {
  .hero {
    padding-left: 40px;
    padding-right: 40px;
  }
  .hero h1 {
    font-size: 4rem;
  }
}

@media (min-width: 1400px) {
  .packages-image {
    margin-top: -200px;
  }
  .what-is-bouldering-image {
    margin-top: -200px;
  }
}
@media (min-width: 768px) {
  .current-promo .promo-image {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .past-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .past-grid {
    grid-template-columns: 1fr 1fr;
  }
}
